@charset "UTF-8";

body{
  font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
}

*:focus {
  outline: none !important;
}

@keyframes slidemenu {
  0% {
    width: 0;
  }
  25% {
    width: 25%;
  }
  50% {
    width: 50%;
  }
  100% {
    width: 100%;
  }
}
@-moz-keyframes slidemenu /* Firefox */ {
  0% {
    width: 0;
  }
  25% {
    width: 25%;
  }
  50% {
    width: 50%;
  }
  100% {
    width: 100%;
  }
}
@-webkit-keyframes slidemenu /* Safari ╨╕ Chrome */ {
  0% {
    width: 0;
  }
  25% {
    width: 25%;
  }
  50% {
    width: 50%;
  }
  100% {
    width: 100%;
  }
}
@keyframes fullslidemenu {
  0% {
    width: 0;
  }
  25% {
    width: 120px;
  }
  50% {
    width: 250px;
  }
  100% {
    width: 350px;
  }
}
@-moz-keyframes fullslidemenu /* Firefox */ {
  0% {
    width: 0;
  }
  25% {
    width: 120px;
  }
  50% {
    width: 250px;
  }
  100% {
    width: 350px;
  }
}
@-webkit-keyframes fullslidemenu /* Safari ╨╕ Chrome */ {
  0% {
    width: 0;
  }
  25% {
    width: 120px;
  }
  50% {
    width: 250px;
  }
  100% {
    width: 350px;
  }
}
@media (min-width: 1px) {
  .flex-box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: inline-flex;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: flex;
  }

  .navbar-toggleable-md {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
  }

  .vertical-nav {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    padding: 0;
    max-width: none;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 979;
    position: fixed;
    background: #ffffff;
    -webkit-box-shadow: 5px 0px 20px 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 5px 0px 20px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 5px 0px 20px 5px rgba(0, 0, 0, 0.2);
    -webkit-transition-duration: .4s;
    -o-transition-duration: .4s;
    -moz-transition-duration: .4s;
    transition-duration: .4s;
    display: block !important;
  }
  .vertical-nav .search-form {
    position: relative;
    padding-left: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 1;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    -webkit-transition-duration: .4s;
    -o-transition-duration: .4s;
    -moz-transition-duration: .4s;
    transition-duration: .4s;
  }
  .vertical-nav .search-form .search-form-input-box {
    position: relative;
    width: 100%;
    height: 27px;
  }
  .vertical-nav .search-form .search-form-input-box .search-form-input {
    background: none;
    border: none;
    border-radius: 0;
    color: #000;
    display: block;
    height: 27px;
    padding: 0 15px 0 40px;
    width: 1px;
    z-index: 9;
    box-sizing: border-box;
  }
  .vertical-nav .search-form .search-form-input-box .search-form-submit {
    background: none;
    border: none;
    color: #000;
    display: block;
    height: 30px;
    left: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 30px;
    z-index: 10;
    cursor: pointer;
  }
  .vertical-nav .navbar-brand, .vertical-nav #navbarSupportedContent {
    clear: both;
  }
  .vertical-nav .navbar-brand {
    display: block !important;
    padding: 0 !important;
    margin: 0 !important;
    overflow: hidden;
  }
  .vertical-nav .navbar-brand .responsive-box {
    display: block;
    padding-top: 32px;
    padding-bottom: 29px;
  }
  .vertical-nav .navbar-nav {
    width: 100%;
    -webkit-transition-duration: .4s;
    -o-transition-duration: .4s;
    -moz-transition-duration: .4s;
    transition-duration: .4s;
    display: block;
    line-height: 1;
    margin-top: 0;
  }
  .vertical-nav .navbar-nav li:before {
    display: none !important;
  }
  .vertical-nav .navbar-nav > li {
    display: block;
  }
  .vertical-nav .navbar-nav > li > a {
    height: 48px;
    width: 100%;
    padding: 0 !important;
    margin: 0;
    overflow: hidden;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .vertical-nav .responsive-box {
    box-sizing: border-box;
    overflow: hidden;
    width: 100%;
    padding-left: 29px;
    position: relative;
    -webkit-transition-duration: .4s;
    -o-transition-duration: .4s;
    -moz-transition-duration: .4s;
    transition-duration: .4s;
  }
  .vertical-nav .responsive-box .img-box {
    width: 38px;
    margin-right: 37px;
    display: block;
  }

  .vertical-nav:hover .responsive-box .img-box, .vertical-nav.open-nav .responsive-box .img-box {   
    margin-right: 30px;
  }

  .vertical-nav .responsive-box .img-box .icon-box {
    width: 38px;
    display: block;
  }
  .vertical-nav .responsive-box .img-box .icon-box img {
    display: block;
    margin: 0 auto;
    max-width:100%;
  }
  .vertical-nav .responsive-box .text-box {
    color: #212121;
    font-size: 16px;
    word-wrap: normal;
    max-width: 200px;
    line-height: 1.2;
  }
  .vertical-nav .responsive-box.flex-box {
    height: 48px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .vertical-nav .logo-box {
    width: 85px;
    overflow: hidden;
  }
  .vertical-nav .nav-link {
    font-size: 16px;
    color: #212121;
    -webkit-transition-duration: .2s;
    -o-transition-duration: .2s;
    -moz-transition-duration: .2s;
    transition-duration: .2s;
  }
  .vertical-nav .nav-link:hover, .vertical-nav .nav-link.hover-link, .vertical-nav .nav-link.current {
    background: #ffe87f;
  }
  .navbar-step-in .nav-link:hover, .navbar-step-in .nav-link.hover-link, .navbar-step-in .nav-link.current {
    background: #fff;
  }
  .vertical-nav.open-nav, .vertical-nav:hover {
    width: 100%;
  }
  .vertical-nav.open-nav .navbar-nav, .vertical-nav:hover .navbar-nav {
    width: 100%;
  }
  .vertical-nav.open-nav .search-form-input, .vertical-nav:hover .search-form-input {
    width: 100% !important;
    padding-left: 68px !important;
  }
  .vertical-nav.open-nav .responsive-box, .vertical-nav:hover .responsive-box {
    padding-left: 39px;
  }
  .vertical-nav.open-nav .logo-box, .vertical-nav:hover .logo-box {
    width: 100%;
  }
  .vertical-nav.open-nav .search-form, .vertical-nav:hover .search-form {
    padding-left: 45px;
  }

  .nav-item {
    position: relative;
    height: 48px;
  }

  .navbar-step-in {
    position: fixed;
    width: 0px;
    height: 100%;
    top: 67px;
    left: -100%;
    opacity: 0;
    z-index: 989;
    background: #fff;
    display: none;
    -webkit-box-shadow: 5px 0px 20px 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 5px 0px 20px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 5px 0px 20px 5px rgba(0, 0, 0, 0.2);
    -webkit-transition-duration: .4s;
    -o-transition-duration: .4s;
    -moz-transition-duration: .4s;
    transition-duration: .4s;
  }
  .navbar-step-in > ul {
    line-height: 1;
    margin-top: 44px;
  }
  .navbar-step-in > ul > li .nav-link:hover, .navbar-step-in > ul > li .nav-link.hover-link, .navbar-step-in > ul > li .nav-link.current {
    background: #fff;
  }
  .navbar-step-in .close-btn-box.flex-box {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    width: 100%;
    height: 50px;
  }
  .navbar-step-in .close-btn-box.flex-box .close-btn {
    display: block;
    width: 15px;
    height: 30px;
    margin-right: 20px;
    margin-top: 20px;
    padding: 0;
  }
  .navbar-step-in .close-btn-box.flex-box .close-btn img {
    width: 15px;
    height: 15px;
  }
  .navbar-step-in .navbar-in-title {
    padding-top: 20px;
    padding-left: 37px;
    padding-right: 20px;
    font-size: 24px;
    line-height: 1;
    text-align: left;
    margin-bottom: 28px;
  }
  .navbar-step-in .navbar-in-btn-box {
    padding-left: 37px;
    margin-bottom: 30px;
  }
  .navbar-step-in .navbar-in-btn-box .btn-more-links {
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    padding: 8px 22.5px;
    margin: 0;
    border-radius: 30px;
    border: 1px solid;
    color: #212121;
    line-height: 1;
  }
  .navbar-step-in .navbar-in-btn-box .btn-more-links:hover {
    color: #000;
  }

  .navbar-step-in.open-nav {
    opacity: 1;
    left: 0px;
    display: block;
    animation: slidemenu .4s forwards;
    -moz-animation: slidemenu .4s forwards;
    /* Firefox */
    -webkit-animation: slidemenu .4s forwards;
    /* Safari ╨╕ Chrome */
  }

  .navbar-step-2 {
    z-index: 999;
  }
  .navbar-step-2 ul > li .nav-link:hover, .navbar-step-2 ul > li .nav-link.hover-link, .navbar-step-2 ul > li .nav-link.current {
    background: #fff;
  }

  .navbar-step-2.open-nav {
    left: 0px;
    background: #ffff;
  }
  .navbar-step-2.open-nav:before {
    left: 0px;
  }
}
@media (min-width: 992px) {
  .xs-nav-header {
    display: none !important;
  }

  .vertical-nav {
    max-width: 350px;
    width: 114px;
    position: fixed !important;
    height: 100% !important;
  }
  .vertical-nav .navbar-nav {
    width: 114px;
  }
  .vertical-nav .responsive-box .text-box {
    max-width: 230px;
  }
  .vertical-nav.open-nav, .vertical-nav:hover {
    width: 350px;
  }

  .nav-0 {
    z-index: 999;
  }
  .nav-0:after {
    display: block;
    width: 15px;
    height: 100%;
    background: rgba(255, 232, 127, 1);
    content: "";
    right: 0;
    top: 0;
    position: absolute;
    -webkit-box-shadow: inset 0px 0px 20px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: inset 0px 0px 20px 1px rgba(0,0,0,0.2);
    box-shadow: inset 0px 0px 20px 1px rgba(0,0,0,0.2);
  }
  .nav-0.open-nav:after, .nav-0:hover:after {
    display: none;
  }

  .navbar-step-in {
    z-index: 989;
    top: 0;
    background: #ffe87f;
  }

  .navbar-step-2 {
    z-index: 979;
    background: #fff1b2;
  }

  .navbar-step-2.open-nav {
    background: #fff1b2;
  }

  .navbar-step-in.open-nav {
    left: 350px;
    animation: fullslidemenu .4s forwards;
    -moz-animation: fullslidemenu .4s forwards;
    -webkit-animation: fullslidemenu .4s forwards;
  }

  .navbar-step-2.open-nav {
    left: 700px;
  }
}
@media (max-width: 991px) {
  .vertical-nav {
    display: block;
    width: 100% !important;
    max-width: none;
    padding: 0;
  }
  .vertical-nav .navbar-brand {
    width: 131px;
    margin-left: 61px !important;
  }
  .vertical-nav .navbar-brand .logo-box {
    width: 131px;
    padding-left: 0;
    padding-top: 15px;
    padding-bottom: 18px;
  }
  .vertical-nav .navbar-brand .logo-box img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  .nav-0 {
    min-height: 1px !important;
  }

  .navbar-toggler-right {
    right: auto;
    left: 0;
    top: 20px;
  }

  .navbar-toggler {
    border: none;
  }

  .vertical-nav .responsive-box:not(.logo-box), .vertical-nav.open-nav .responsive-box:not(.logo-box), .vertical-nav:hover .responsive-box:not(.logo-box) {
    padding-left: 12px !important;
  }

  .vertical-nav .navbar-nav {
    margin-top: 0;
    padding-top: 0;
  }

  .vertical-nav .responsive-box.flex-box, .nav-item, .vertical-nav .navbar-nav > li > a {
    height: 63px;
  }

  .vertical-nav .navbar-nav > li.nav-item {
    border-bottom: 1px solid #e5e5e5;
  }

  .xs-nav-header {
    background: #f2f2f2;
    height: 58px;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
  }

.vertical-nav .xs-nav-header .responsive-box.flex-box, .xs-nav-header .nav-item, .vertical-nav .xs-nav-header .navbar-nav > li > a {
    height: 58px;
  }

  .xs-nav-header .responsive-box .img-box, .xs-nav-header .responsive-box .img-box .icon-box {
    width: 7px;
    margin-right: 10px;
  }

  .nav-header-right-block {
    width: 75px;
    height: 70px;
    margin: 0;
    position: absolute;
    top: 0;
    right: 0;
  }
  .nav-header-right-block > div {
    padding: 0;
    margin: auto 0;
  }

  .navbar-step-in {
    box-shadow: none !important;
  }

  .last-item {
    background: #fff1b2;
  }
  .last-item .feedback-block {
    width: 100%;
    max-width: 480px;
    height: 63px;
    position: relative;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 20px;
  }
  .last-item .feedback-block .feedback-left-box {
    width: 200px;
    line-height: 1;
  }
  .last-item .feedback-block .feedback-left-box .tel-box {
    font-weight: 500;
    margin-bottom: 6px;
  }
  .last-item .feedback-block .feedback-left-box .tel-box-cup {
    font-size: 12px;
  }
  .last-item .feedback-block .feedback-right-box {
    width: calc(100% - 200px);
    line-height: 1;
  }
  .last-item .feedback-block .feedback-right-box .btn-feedback {
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    padding: 8px 22.5px;
    margin: 0;
    border-radius: 30px;
    border: 1px solid;
    color: #212121;
    line-height: 1;
    float: right;
  }
  .last-item .feedback-block .feedback-right-box .btn-feedback:hover {
    color: #000;
  }
}
@media (max-width: 991px) {
  .hidden-xs {
    display: none !important;
  }

  .open-nav ul {
    padding-bottom: 70px;
  }

  #header > .wrapper_inner {
    display: none !important;
  }

  .cart-icon-link {
    position: relative;
    display: inline-block;
    padding: 6px;
    margin-left:-6px;
  }
  .cart-icon-link #cartCount {
    position: absolute;
    display: inline-block;
    font-size: 14px;
    top: 0;
    right: 0;
    color: #000;
    font-weight: 500;
  }

	.vertical-nav .responsive-box .img-box {
	    width: 35px;
	    margin-right: 15px;
	}

	.vertical-nav .responsive-box .img-box .icon-box {
	    width: 35px;
	}

	  .vertical-nav .responsive-box .img-box .icon-box img{
	  	max-width:100%;
	  }

	  .xs-nav-header .responsive-box .img-box, .xs-nav-header .responsive-box .img-box .icon-box {
	    width: 7px;
	    margin-right: 10px;
	}

	.wrapper .header_wrap {
		margin-top:70px;
	}

	.open-nav {  
	  overflow-x: hidden;
	  overflow-y: auto;
	}
}



.open-nav {
  height: 100%;
  padding-bottom: 60px;
}

.mCustomScrollbar, .mCustomScrollBox, .mCSB_container{
  width:100%!important;
}